*, html, body{ /* html body  */
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box; /* строка нормализации*/
}
body{
    background-color: #e7e7f1;
}
input[type="radio"], input[type="checkbox"], input [type="button"]{
    display: none;
}
.shadow{
    box-shadow: -7px -4px 10px #fff, 3px 2px 1px rgba(0, 0, 0, .5);
 
}
.text_16{
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}
.btn{
    width:30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s box-shadow;
}
.btn::before{
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid gray;
}

input[type="radio"]:checked ~ .btn::before{
    background-color: gray;

}
input[type="radio"]:checked ~ .btn, input[type="checkbox"]:checked{
    box-shadow: inset -2px 2px 1px #fff, inset 2px -1px 2px rgba(0, 0, 0, .5);
}
.radio_man{
    position: absolute;
    left: 20px;
    top: 20px;
}
.man{
    margin-bottom: 10px;
}
.left_right{
    position: absolute;
    display: flex;
    left: 80px;
    top: 23px;
}
.up_down{
    position: absolute;
    left: 180px;
    top: 20px;
}
.right, .left, .up, .down{
    position: relative;
    width:30px;
    height: 30px;
    background-color: rgba(194, 192, 192, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;

}
.right{
    margin-left: 10px;
}
.up, .switch1{
    margin-bottom: 10px;
}
.right::before{
    content: ">";
}
.left::before{
    content: "<";
}
.down::before{
    content: "\02EF";
}
.down::before, .up::before{
    position: absolute;
    top: -36px;
    font-size: 50px;
    margin-bottom: 43px;
}
.up::before{
    content: "\02F0";
}
.right::before, .left::before, .down::before, .up::before{
    color: rgba(0, 0, 0, .5);
    font-weight: 600;
    transition: 1s;
    }
.right:active, .left:active, .up:active, .down:active, .button:active, .text_btn{
    box-shadow: inset -2px 2px 1px #fff, inset 2px -1px 2px rgba(0, 0, 0, .5);
}
.switch{
    position: absolute;
    left: 223px;
    top: 20px;
}
.sw2{
    top: 160px;
}
.switch__btn{
    width: 70px;
    height: 34px;
    background: rgba(194, 192, 192, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 15px;
    position: relative;
    transition: 0.5s;
}
.switch__btn::before{
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-shadow: -1px -1px 2px #fff, 2px 2px 3px rgba(0, 0, 0, .5);
    background-color: white;
    position: absolute;
    left: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
input[type="checkbox"]:checked ~ .switch__btn{
    background: royalblue;
}
input[type="checkbox"]:checked ~ .switch__btn::before{
    transform: translateX(34px);
}
.button, .text_btn{
    position: absolute;
    top: 115px;
    left: 18px;
    width: 143px;
    height: 40px;
    border-radius: 20px;
    background: rgba(194, 192, 192, 0);
    color: rgba(0, 0, 0, .5);
    /* font-weight: 700; */
    border: none;
}
.text_btn{
    top: 162px;
    border-radius: 17px;
    padding: 0 13px;
    outline: none;
    font-size: 14px;

}
.share{
    width: 100px;
    top: 61px;
    left: 67px;
    text-align: left !important;
    padding: 0 13px 0;
    font-size: 14px;
}
.share::before{
    content: url(../img/icons8-поделиться-16-2.png);
    position: absolute;
    left: 67%;
    top: 12px;
}
.dropdown{
    top: 115px;
    left: 170px;
    text-align: left !important;
    padding: 0 13px 0;
}
.dropdown::after{
    content: "\02EF";
    font-size: 57px;
    position: absolute;
    left: 100px;
    top: -18px;
}
.label{
    width: 100px;
    left: 226px;
    top: 64px;
    text-align: left !important;
    padding: 0 13px 0;
    font-size: 14px;    
}
.label::after{
    content: url(../img/icons8-позиция-на-карте-мира-16.png);
    font-size: 57px;
    position: absolute;
    left: 65px;
    top: -25px;
}
.add_user{
    top: 162px;
    left: 170px;
    text-align: left !important;
    padding: 0 13px 0;
}
.add_user::before{
    content: url(../img/icons8-добавить-пользователя-16.png);
    position: absolute;
    left: 107px;
    top: 10px;
}
.search_for{
    width: 300px;
    height: 38px;
    position: relative;
    padding: 0 20px;
    top: 219px;
    left: 20px;

}
.search_for::after{
    content: url(../img/icons8-поиск-16.png);
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: 9px;
    left: 25px;
}