*, html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background: rgba(41, 39, 39, 0.925); */
}
.heat{
    position: relative;
    left: -50px;
    top: -165px;
}
.head{
    width: 450px;
    height: 325px;
    border: 10px solid #000;
    border-radius: 250px 250px 250px 250px;
    position: absolute;
    left: 130px;
    top: 155px;
    background: #fff;
}
.ear{
    width: 82px;
    height: 82px;
    background: #000;
    position: absolute;
    z-index: -10;
    left: 355px;
    top: 6px;
    border-radius: 750px 450px 750px 300px;
}
.heart{
    position: absolute;
    left: 333px;
    top: 55px;
}
.eyeright, .eyeleft{
    width: 140px;
    height: 110px;
    background: #000;
    position: absolute;
}
.eyeright{
    left: 42px;
    top: 140px;
    border-radius: 69px / 56px;
    transform: rotate(-19deg);
}

.eyeleft{
    left: 256px;
    top: 140px;
    border-radius: 68px / 56px;
    transform: rotate(-156deg);
}
.eyeblashleft, .eyeblashright{
    width: 25px;
    height: 25px;
    position: absolute;
    background: #bde6f5;
    border-radius: 50px 50px 50px 50px;
}
.eyeblashleft{
    left: 72px;
    top: 76px;
}
.eyeblashright{
    left: 73px;
    top: 9px;
}
.mot{
    position: absolute;
    left: 189px;
    top: 234px;

}
.nose{
    position: absolute;
    width: 40px;
    height: 24px;
    background: #000;
    border-radius: 93px / 54px;
    left: 200px;
    top: 212px;

}
.pupilright, .pupilleft{
    width: 55px;
    height: 55px;
    background: #49c9f2;
    position: absolute;
    border-radius: 50px 50px 50px 50px;
}
.pupilright{
    left: 78px;
    top: 33px;
}

.pupilleft{
    left: 77px;
    top: 23px;
}
.body{
    width: 346px;
    height: 198px;
    background: #fff;
    border: 10px solid #000;
    position: absolute;
    left: 172px;
    top: 471px;
    border-radius: 976px 851px 437px 400px;
}
.leftpaw{
    background: #000;
    position: absolute;
    width: 105px;
    height: 83px;
    left: 40px;
    top: -46px;
    border-radius: 64px / 53px;
}

.rightpaw{
    background: #000;
    position: absolute;
    width: 102px;
    height: 83px;
    left: 208px;
    top: -52px;
    border-radius: 69px / 51px;
}
.leftleg{
    background: #000;
    position: absolute;
    width: 145px;
    height: 117px;
    border-radius: 605px 1051px 537px 900px;
    left: -39px;
    top: 98px;
}

.rightleg{
    background: #000;
    position: absolute;
    width: 144px;
    height: 117px;
    border-radius: 771px 551px 637px 417px;
    left: 240px;
    top: 95px;

} 