 *, html, body{
    margin: 0;
    padding: 0;
}
.ears{
  padding-top: 1px; 
  height: 180px;
  margin: auto;
}
.leftear{
    width: 260px;
    height: 180px;
    background: #9574b4;
    margin-left: 75px;
    float: left;
}
.leftear1{
width: 150px;
height: 140px;
background: #f5ba20;
margin: 26px 0 0 57px;
} 
.rightear{
    width: 260px;
    height: 180px;
    background: #9574b4;
    margin-left: 650px;
    /* float: right; */
}
.rightear1{
    width: 150px;
    height: 140px;
    background: #f5ba20 ;
    margin: 26px 0 0 57px;
} 
.head{
    padding-top: 1px;
    width: 1000px; 
    height: 636px; 
    background: #9574b4;
    /* margin: auto; */
}
.eye1{
width: 262px;
height: 188px;
background: #f5ba20;
margin: 98px 0 0 131px;
float: left;
}
.pupil1{
    width: 96px;
    height: 126px;
    background: #000;
    margin: 61px 0 0 166px;
}
.eye2{
width: 262px;
height: 188px;
background: #f5ba20;
margin: 98px 113px 0 0;
float: right;

}
.pupil2{
    width: 96px;
    height: 126px;
    background: #000;
    margin: 61px 166px 0 0;
}
.nose{
    width: 322px;
    height: 120px;
    background: #fdc580;
    margin: 318px 0 0 346px;
}
.nostril1{
width: 63px;
height: 85px;
background: #e73896;
margin: 34px 0 0 57px ;
float: left;;
}
.nostril2{
    width: 63px;
    height: 85px;
    background: #e73896;
    margin: 34px 0 0 204px ;
}
.mouth{
    width: 752px;
    height: 94px;
    background: red;
    margin-top: 472px;
    margin: 30px 0 0 131px;
}
.teathb{
width: 60px;
height: 47px;
background: #000;
float: left;
margin: 0 30px;
}
.teathw{
background: #fff;
margin: 0px;
margin-right: 14px;
margin-inline-start: 26px;
}
 /* .teathb{ 
    width: 63px;
    height: 45px;
    background: #000;
margin-right: 20px;
}
 .teathw{ 
    width: 63px;
    height: 45px;
    background: white; 
margin-right: 20px;
} 
.b1{ 
margin: 0 502px -44px 95px;
} .b2{
    margin: 0 470px -45px 210px;
} .b3{
    margin: 0 360px -46px 330px;
} .b4{
    margin: 0 250px -46px 430px;
} .b5{
    margin: 0 130px -44px 546px;
} .b6{
    margin: 0 28px -40px 670px;
} .w1{
    margin: 44px 0 0 54px;
} .w2{
    margin: -45px 0 0 157px;
} .w3{
    margin: -45px 0 0 268px;
} .w4{
    margin: -45px 0 0 379px;
} .w5{
    margin: -45px 0 0 501px;
} .w6{
    margin: -45px 0 0 617px;
}   */

.neck{
padding-top: 1px;  
width: 262px;
height: 70px;
background: #9574b4;
margin-left: 380px;

}
.collar{
width: 262px;
height: 30px;
background: #f5ba20;
margin: 25px 0 25px 0;
}
.body1{
padding-top: 1px;  
background: #9574b4;
width: 780px;
height: 754px;
margin-left: 100px;
}

.handleft{
    width: 120px;
    height: 172px;
    background: #9574b4;
    margin-top: 66px;
    margin-left: -95px;
    }
    .handleft1{
    width: 40px;
    height: 172px;
    background: #000;
    
    
    }
    
.handright{
width: 120px;
height: 172px;
background: #9574b4;
margin-top: -183px;
margin-left: 761px;
}
.handright1{
width: 40px;
height: 172px;
background: #000;
float: right;
}
.navel{
    background: #e73896;
    width: 370px;
    height: 410px;
    margin: auto;
}
.legs{
margin: auto;
}
.leg1{
    width: 156px;
    height: 152px;
    background: #9574b4;
    margin-left: 202px;
    float: left;

}
.leg2{
    width: 156px;
    height: 152px;
    background: #9574b4;
    margin-left: 272px;
    float: left;

}
.inner1, .inner2{
    width: 156px;
    height: 40px;
background: #000;
margin-top: 116px;}