*, html, body, html{
    padding: opx;
    margin: 0px;
    box-sizing: border-box;
}

.box1{
    width: 500px;
    height: 500px;
    background: #000;
    position: absolute;
    left: 20px;
    top: 20px;
}
.box2{
    width: 460px;
    height: 460px;
    background: #fff;
    position: relative;
    left: 20px;
    top: 20px;
}
.box3{
    width: 420px;
    height: 420px;
    background: #000;
    position: relative;
    left: 20px;
    top: 20px;
}
.box4{
    width: 380px;
    height: 380px;
    background: #fff;
    left: 20px;
    top: 20px;
    position: relative;
}
.box5{
    width: 340px;
    height: 340px;
    background: #000;
    left: 20px;
    top: 20px;
    position: relative;
}
.box6{
    width: 300px;
    height: 300px;
    background: #fff;
    left: 20px;
    top: 20px;
    position: relative;
}
.box7{
    width: 260px;
    height: 260px;
    background: #000;
    left: 20px;
    top: 20px;
    position: relative;
}
.box8{
    width: 220px;
    height: 220px;
    background: #fff;
    left: 20px;
    top: 20px;
    position: relative;
}
.box9{
    width: 180px;
    height: 180px;
    background: #000;
    left: 20px;
    top: 20px;
    position: relative;
}
.absolute{
    position: relative;
left: 20px;
top: 20px;
}
.white{
background: #fff;
}
.black{
background: #000;

}
.box-1{
    margin-top: 600px;
    position: absolute;
    width: 500px;
    height: 500px;
}
.box-2{
    width: 460px;
    height: 460px;
}
.box-3{
    width: 420px;
    height: 420px;
}
.box-4{
    width: 380px;
    height: 380px;
    
}
.box-5{
    width: 340px;
    height: 340px;
   
}
.box-6{
    width: 300px;
    height: 300px;
   
}
.box-7{
    width: 260px;
    height: 260px;
    
}
.box-8{
    width: 220px;
    height: 220px;
    
}

.box-9{
    width: 180px;
    height: 180px;
}

.pink{
    width: 1000px;
    height: 500px;
    margin: 20px 20px 0 700px;
    position: relative;
    background: rgb(241, 132, 150);
    border: 1px solid #000;
}
.blue{
width: 450px;
height: 450px;
position: absolute;
left: 20px;
top: 20px;
background: cornflowerblue;
border: 1px solid #000;


}
.yellow{
    width: 250px;
    height: 250px;
    position: absolute;
    top: 44%;
    left: 44%;
    background: yellow;
    border: 1px solid #000;

}
.blue2{
    width: 300px;
height: 300px;
position: absolute;
left: 70%;
top: 0;
background: cornflowerblue;
border: 1px solid #000;
}
.green{
    width: 150px;
height: 150px;
position: absolute;
left: 25%;
top: 25%;
/* margin-top: 50px;
margin-left: 50px; */
background: green;
border: 1px solid #000;
}
.begreen{
    width: 1000px;
    height: 350px;
    background: greenyellow;
    border: 1px solid #000;
margin: 700px 0 40px 40px;
margin-left: 40px;
position: relative;
}
.yello{
    background: yellow;
    border: 1px solid #000;
position: absolute;
width: 150px;
height: 150px;
}
.yel1{
left: 200px;
top: 0;
}
.yel2{
    left: 500px;
    top: 0;

}
.yel3{
    left: 400px;
    top: 200px;

}
.yel4{
    left: 700px;
    top: 200px;
}